<%= form_tag venues_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>


<ul>
	<% @venues.each do |v| %>

		<li data-lat="<%= v.latitude %>" data-lng="<%= v.longitude %>">
			<h3><%= v.title %></h3>
			<p><%= v.address %></p>

			<% if params[:search].present? %>
				<p><%= v.distance.round(2) %> miles</p>

			<% else %>
				
			<% end %>	

		</li>

	<% end %>
</ul>

<%= link_to "add a venue", new_venue_path %>

<section id="map"></section>



