<h1><%= link_to "Appetite", root_path %></h1>

<%= form_tag venues_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Near", :name => nil %>
	</p>
<% end %>


<ul>
	<% @venues.each do |v| %>

		<li data-lat="<%= v.latitude %>" data-lng="<%= v.longitude %>">
			<h3><%= v.title %></h3>
			<p><%= v.address %></p>
		</li>

	<% end %>
</ul>

<%= link_to "add a venue", new_venue_path %>

<section id="map"></section>



